/* 
.scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100px;
    /* adjust height as needed */

#scroll-container {
    padding-top: 5%;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#scroll-text {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    display: flex;
    /* animation properties */
    /* -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 25s linear infinite;
    -webkit-animation: my-animation 25s linear infinite; */
    animation: my-animation 25s linear infinite;
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.article-title-0,
.article-title-1,
.article-title-2,
.article-title-3,
.article-title-4 {
    white-space: nowrap;
    /* prevent line breaks */
    margin-right: 20px;
    /* add some margin between titles */
}

/* 
.article-title-0 {
    animation: scroll-animation 15s linear 3s infinite;
    white-space: nowrap;
}

.article-title-1 {
    animation: scroll-animation 15s linear 6s infinite;
    white-space: nowrap;
}

.article-title-2 {
    animation: scroll-animation 15s linear 9s infinite;
    white-space: nowrap;
}

.article-title-3 {
    animation: scroll-animation 15s linear 12s infinite;
    white-space: nowrap;
}

.article-title-4 {
    animation: scroll-animation 15s linear 12s infinite;
    white-space: nowrap;
}

@keyframes scroll-animation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
} */