.news-section {
    background-color: rgb(0, 0, 0, 0.3);
}

#card-image {
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    border-style: ridge;
}

.card-content {
    color: yellow;
    display: inline-block;
    animation: marquee 15s linear infinite;
    width: auto;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.MuiPaper-root.MuiCard-root {
    background-color: transparent;
    box-shadow: 0px 0px 0px;
    margin: 3%;
}

.card-content:hover {
    background-color: black;
    color: yellow;
}

.news-title {
    color: yellow;
    font-family: Segoe Script;
    font-weight: bold;
    text-shadow: #FC0 10px 0 10px;
}