/* Style for the video section */
.video-section {
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
}

.home-background-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

/* Style for the video container */
.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Style for the video */
.beerservedvideo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-home {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding: 10px;
    background-color: transparent;
    color: yellow;
    border: solid;
    border-color: yellow;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    font-weight: bold;
    font-family: Segoe Script;
}

.button-home:hover {
    transform: rotate(6deg);
}

.timeline-title {
    color: yellow;
    /* font-weight: bold; */
    font-family: Rockwell Extra Bold;
}

.brewer-definition {
    text-align: center;
    padding: 1%;
    width: 100vw;
    background-color: rgba(52, 51, 49, 0.5);
    border-radius: 5%;
}

.def-h1 span,
.def-h4 span,
.def-p span {
    color: white;
    font-family: cursive;
    font-weight: bold;
    background-color: rgb(188, 158, 53);

}