.map {
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px white;
    border-style: solid;
    border-color: grey;
    margin: 5%;
    height: 10%;
    width: auto;
}

/* .map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px);
    margin: auto;
} */