.dark {
    background-color: #1a1a1a;
    color: #e1dddd;
}

.light {
    background-color: #835426;
    color: #081f4e;
}

.switch {
    float: flex;
    background-color: #101010;
    opacity: 1;
}

.label {
    display: block;
    font-weight: bold;
    font-size: 0.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(156, 156, 33);
    padding: 1%;
}

.pagenotfound-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
}

.pagenotfound-title {
    color: white;
    background-color: red;
}